/* ===============================
          LOADING SCREEN
=============================== */
body {
  margin: 0;
}

div#root {
  margin: 0;
}

div.loading {
  height: 100vh;
  width: 100vw;
  background-color: #98344a;
  text-align: center;
}

h1.loading {
  color: white;
  margin-top: 0;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
}


@media screen and (max-width: 550px) {
  img {
    width: 90%;
  }
}
