/* ===============================
      GENERAL BUTTON STYLES
=============================== */

div.chart-row {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted grey;
  div.label {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    width: 11rem;
    padding: 0.15rem;
    p {
      vertical-align: middle;
      margin: auto auto;
      text-indent: 0;
    }
  }
  div.bar-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    div.bar-box {
      height: 1rem;
      width: 2rem;
      border: 1px solid grey;
      border-radius: 5px;
      &:not(.filled) {
        border: 1px dotted #b5b5b5;
        background: $white;
      }
    }
    // colours
    // default - grey
    &.grey {
      div.bar-box {
        &.filled {
          background: grey;
        }
      }
    }
    // HTML - blue
    &.blue {
      div.bar-box {
        &.filled {
          background: #73a0cf;
        }
      }
    }
    // CSS - yellow
    &.yellow {
      div.bar-box {
        &.filled {
          background: #cb9578;
        }
      }
    }
    // JavaScript - red
    &.red {
      div.bar-box {
        &.filled {
          background: #cc7192;
        }
      }
    }
    // PHP - purple
    &.purple {
      div.bar-box {
        &.filled {
          background: #a67daa;
        }
      }
    }
    // SQL
    &.cyan {
      div.bar-box {
        &.filled {
          background: #89e5eb;
        }
      }
    }
    // Python - green
    &.green {
      div.bar-box {
        &.filled {
          background: #b6d790;
        }
      }
    }
    // Skills
    &.sand {
      div.bar-box {
        &.filled {
          background: $sand;
        }
      }
    }
  }
}


/* ===============================
        RESPONSIVE STYLES
=============================== */
@media screen and (max-width: 975px) {
  div.chart-row {
    div.bar-layout {
      display: none;
    }
  }
}

@media screen and (max-width: 800px) {
  div.chart-row {
    width: 98%;
    div.label {
      width: 48%;
    }
  }
}
