
/* ===============================
          COLOUR PALETTE
=============================== */

// greyscale
$light-grey: #d6d6d6;
$medium-grey: #808080;
$medium-dark-grey: #4d4d4d;
$dark-grey: #2e2e2e;

// palette A
$a-grey: #747572;
$a-whiteish: #F1FFFA;
$a-berry: #B6465F;
$a-mint: #C5E0D8;
$a-leaf: #80B2A5;
$a-pink: #EAC2C9;


// palette B
$b-navy: #628395;
$b-sky: #7cafc4;
$b-brown: #96897B;
$b-salmon: #EBA6A9;
$b-burnt-berry: #8B575C;
$b-not-white: #F1F7ED;

// palette C
$c-sand: #FAF3DD;
$c-yellow-green: #C8D5B9;
$c-seafoam: #8FC0A9;
$c-ocean: #68B0AB;
$c-forest: #597C64;
$c-grey-brown: #61625b;
