
/* ===============================
          COLOUR PALETTE
=============================== */

// greyscale
$white: #fff;
$light-grey: #d6d6d6;
$medium-grey: #808080;
$medium-dark-grey: #4d4d4d;
$dark-grey: #2e2e2e;
$almost-black: #252525;

// main colour palette
$sand: #f4ecd6;
$pink: #d58a9b;
$berry: #98344a;
$dark-berry: #3c1319;
$blue: #70acd4;
$dark-blue: #062c3f;
