
/* ===============================
          COLOUR PALETTE
=============================== */

// greyscale
$white: #fff;
$almost-white: #f2f2f2;
$light-grey: #d6d6d6;
$medium-grey: #808080;
$medium-dark-grey: #4d4d4d;
$dark-grey: #2e2e2e;
$almost-black: #252525;

// main colour palette
$sand: #e7e1d0;
$pink: #d58a9b;
$berry: #98344a;
$dark-berry: #3c1319;
$blue: #70acd4;
$light-teal: #cde7e6;
$teal: #8ec1be;
$dark-blue: #062c3f;
