/* ===============================
      GENERAL LAYOUT STYLES
=============================== */

/* =================
CHARACTER GENERATOR
================= */
span.char-identifier {
  font-family: 'Arvo', serif;
  font-size: 1.15rem;
}

/* =================
  COLOUR MATCH GAME
================== */
// colours
$dd-blue: #3f99cc;
$dd-red: #c93a3a;
$dd-yellow: #e3de7b;

// colour classes
.drop-blue, .drop-red, .drop-yellow {
  transition: background 200;
}

.drag-blue, .drop-blue {
  background: $dd-blue;
}

.drag-red, .drop-red {
  background: $dd-red;
}

.drag-yellow, .drop-yellow {
  background: $dd-yellow;
}

// styles
div.draggables {
  display: flex;
  justify-content: space-around;
  text-align: center;
  div.draggable-wrapper {
    border-radius: 5px;
    width: 15%;
    height: 3rem;
    outline: none;
    border: 3px solid $white;
    &:hover {
      cursor: move;
    }
  }
}

div.Droppable {
  transition: background 200;
  border-radius: 5px;
  width: 45%;
  height: 5rem;
  margin: 0 auto;
  text-align: center;
  p {
    color: $white;
  }
}

div.results {
  text-align: center;
}

/* =================
     COIN FLIP
================= */
