
/* ===============================
       GENERAL TEXT STYLES
=============================== */
* {
  color: $medium-dark-grey;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', serif;
}

h3.job-header {
  margin-bottom: 0;
}

h4.date {
  margin-top: 0.15rem;
  font-style: italic;
}

h5.input-label {
  margin-bottom: 0.15rem;
}

p, button, label, li, span {
  font-family: 'Titillium Web', sans-serif;
}

p {
  text-indent: 1rem;
}

span.website {
  font-size: 1rem;
  font-style: italic;
}

p.learning-list, div.education-list {
  span.learning-item, h4.education-item {
    font-family: 'Arvo', serif;
    font-weight: bold;
    font-size: 1rem;
  }
  p.list {
    font-size: 0.9rem;
  }
}

div.header {
  text-align: center;
  h1.header-title {
    margin-bottom: 0;
  }
  h2.header-name {
    font-family: 'Titillium Web', sans-serif;
    text-decoration: overline;
    margin-top: 0.4rem;
    span.invisible-text {
      color: #fff;
    }
  }
}
