
/* ===============================
       GENERAL TEXT STYLES
=============================== */
* {
  color: $medium-dark-grey;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', serif;
}

p, button {
  font-family: 'Titillium Web', sans-serif;
}

p {
  text-indent: 1rem;
}

div.header {
  text-align: center;
  h1.header-title {
    margin-bottom: 0;
  }
  h2.header-name {
    font-family: 'Titillium Web', sans-serif;
    text-decoration: overline;
    margin-top: 0.4rem;
    span.invisible-text {
      color: #fff;
    }
  }
}
